body {
  background: #386ca7; /* Old browsers */
  background: #5aa6bf; /* Old browsers */
  background: -moz-linear-gradient(top,  #5aa6bf 0%, #386ca7 25%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5aa6bf), color-stop(25%,#386ca7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #5aa6bf 0%,#386ca7 25%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #5aa6bf 0%,#386ca7 25%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #5aa6bf 0%,#386ca7 25%); /* IE10+ */
  background: linear-gradient(to bottom,  #5aa6bf 0%,#386ca7 25%); /* W3C */
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Liberation Sans",sans-serif;
}

pre {
  background-color: rgba(0,0,0,0.39);
  border-radius: 0.5em;
  padding: 1.5em 2em;
  font-size: 1em;
  margin: 2em 0;
  line-height: 1.5em;
  position: relative;
}

p {
  text-align: justify;
  line-height: 1.8em;
  color: rgba(255,255,255,0.6);
  font-size:  0.8em;
}

.comment {
  opacity: 0.5;
}

.inline {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.3em;
  font-family: monospace;
}

h3 {
  font-family: "Liberation Sans", sans-serif;
  margin-top: 2em; 
}

h4 {
  margin-left: 1em;
}

ul + h4 {
  margin-top: 2em;
}

ul + h3 {
  margin-top: 2.5em;
}

#wrapper {        
  margin-left: auto;
  margin-right: auto;
  padding: 4em 4em 2em 4em;
  width: 40em;
  background-color: rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  position: relative;
  background-image: url('../img/background.png');
  background-position: center -25em;
  background-repeat: no-repeat;
}

.download {
  font-weight: bold;
  background-color: rgba(0,0,0,0.33);
  border-radius: 0.5em;
  width: 10.5em;
  padding: 1.4em;
  font-family: sans-serif;
  float: left;
  line-height: 1.2em;
  margin: 3.5em 0.41em;
}

.download:hover {
  cursor: hand;
  background-color: #f57900;  
}

.download .details {
  font-size: 0.8em;  
  font-weight: normal;
}

#features {
  float: left;
  margin-top: 7.5em;
  margin-left: 2em;
}

#features li {
  line-height: 1.2em;
  font-family: sans-serif;
}

#graphic {
  float: right;
  margin-right: 4.5em;
}

.clear {
  clear: both;
}

a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  text-decoration: underline;
}

#logo {
  position: absolute;
}

.column {
  float: left;
  width: 20em;
}

ul {
  padding-left: 1em;
}

ul li {
  margin-top: 0.8em;
  list-style: none;
  margin-left: 0.7em;
}

li a {
  opacity: 0.8;
}

li#flattr a {
  padding-top: 4px;
}

ul#good li {
  background-image: url('../img/smile.png');
  background-repeat: no-repeat;
  padding-left: 24px;
  background-position: left center;
  color: rgba(255, 255, 255, 0.75);
}

ul#bad li {
  background-image: url('../img/sad.png');
  background-repeat: no-repeat;
  padding-left: 24px;
  background-position: left center;
  color: rgba(255, 255, 255, 0.75);
}

